<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>TKY7WT4Q83</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>uploadBitcode</key>
    <false/>
    <key>compileBitcode</key>
    <false/>
    
    <!-- Основной таргет Runner -->
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    
    <key>provisioningProfiles</key>
    <dict>
        <!-- Bundle ID основного приложения -->
        <key>com.tasty-chicken.chicken-lab</key>
        <string>Tasty chicken lab</string>
        
        <!-- Bundle ID notification extension -->
        <key>com.tasty-chicken.chicken-lab.notifications</key>
        <string>Tasty chicken lab Not</string>
    </dict>
</dict>
</plist>